<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="post" action="/new">
      <h1>New message</h1>
      <p>
        <label for="user">User:</label>
        <input type="text" name="user" id="user" required />
      </p>
      <p>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message" required />
      </p>
      <button>Submit</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
