<html>
  <head>
    <link rel="icon" href="data:,">
    <title><%= title %></title>
  </head>
  <body>
    <form method="post" action="/new">
      <h1><%= title %></h1>
      <% if (locals.errors) { %>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>
      <p>
        <label for="username">User:</label>
        <input type="text" name="username" id="username" required />
      </p>
      <p>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message" required />
      </p>
      <button>Submit</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
